# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Python Arithmetic Expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Scala
5. SQL
6. Java
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Seaborn  
3. Pandas
4. NumPy
5. Keras
6. Scikit-learn
7. PyTorch
8. TensorFlow

|Data Science Tools |
|:------------------| 
|Jupyter Notebook   |  
|RStudio            |
|Spyder             |

## Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = 60

print(minutes/hours)

3.3333333333333335

## Author
Dennis Amoah